

	<div class="play-main">
		<a href="javascript:;">
			<p>{{newses[6].title}}</p>
			<img src="{{newses[6].img}}" />
			<i>{{newses[6].type}}</i>
			<span>{{newses[6].attention}}参与</span>
			<div>{{newses[6].question}}</div>
			
		</a>
	</div>
	
	<div  ng-repeat='n in arr6' ui-sref="/details" >
		<div data-id="{{n.id}}" ng-click="details(n.id)" class="news-main1">
			<img ng-src="{{n.img}}" data-img="{{n.img.length}}" />
			<div>
				<p>{{n.title}}</p>
				<span>{{n.content}}</span>
			</div>
		</div>
		
	</div>
	

	